* {box-sizing: border-box}

body{
	font-family: "Berlin Sans FB";
	text-align: center;
	color: #2b0366;
}

.content{
	margin: 0 auto;
	width: 100%;
}

.profilepic{
	margin-top: -120px;
}

.ft{
	margin-top: 50px;
	width: 100%;
	float: right;
}


.column{
	text-align: justify;
	float: left;
	width: 33.333%;
	padding: 20px;
}


.box{
	margin-left: 220px;
	margin-right: 220px;
}

#st{
	font-size: 20px;
	margin-left: 300px;
	margin-right: 300px;
}


.subtitle{
	background-color: #042347;
	color: white;
	width: 300px;
	margin-left: 300px;
	margin-top: 50px;
	font-size: 30px;
}

.cont{
	background-color: #042347;
	color: white;
	width: 300px;
	text-align: center;
	font-size: 30px;
}

p,li{
	font-size: 20px;
	line-height: 1.6;
}

.ah{
	clear: both;
}

.links{
	margin-right: 10px;
}

.links:hover img{
	  transform: scale(1.5);
}

ul{
	list-style: url(../image/bullet.png);
}
